<html>
  <nav class="navbar navbar-dark navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Michael John Paje</a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="#">
            About
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            Contacts
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            Settings
          </a>
      </li>
    </ul>
  </nav>



</html>
